<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - View</title>
    <link rel="stylesheet" href="/css/lists.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/template.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul class="navList">                
                <a href="@Url.ActionLink("Index", "Author")">
                    <li class="navList--element">
                        Author
                    </li>
                </a>

                <a href="@Url.ActionLink("Index", "Book")">
                    <li class="navList--element">
                        Books
                    </li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


</body>
</html>