@model Domain.Entitys.Book

<div class="booksList--element">
    <div class="booksList--element--name">
        @Model.Name
    </div>
    <div class="booksList--element--year">
        @Model.Year
    </div>
    <div class="booksList--element--language">
        @Model.OriginalLanguage.Name
    </div>
    <div class="AuthorList--element--Author">
        @Model
    </div>
</div>
