<div class="hide window CreateAuthourWindow">

    <div class="CreateAuthourWindow--createForm">
        <div class="CreateAuthourWindow--createForm--elements">
            <input class="firstName">First</input>
            <input class="secondName" >Second</input>
            <input class="lastName">Last</input>
            <input class="year">Year</input>
        </div>
        <div class="CreateAuthourWindow--confirm">
            <button class="OK">OK</button>
            <button class="Cancel">Cancel</button>
        </div>
    </div>
</div>