<div class="AuthorList--element CreatePreview show">
    <div class="AuthorList--element creating" >
        <div class="AuthorList--element--name">
            <div class="AuthorList--element--name__first">
                <label for="first">First name</label>
                <input name="first" class="valueIndicator firstName"/>
            </div>
            <div class="AuthorList--element--name__second">
                <label for="second">Second name / nickname</label>
                <input name="second" class="valueIndicator secondName"/>
            </div>
            <div class="AuthorList--element--name__last">
                <label for="last">Last name</label>
                <input name="last" class="valueIndicator lastName"/>
            </div>
        </div>
        <div class="AuthorList--element--dateOfBirth">
            <label for="yearOfBirth">Born in</label>
            <input name="yearOfBirth" type="number" class="valueIndicator"/>
        </div>
        <div class="AuthorList--element--creating--confirm">
            <button class="OK">OK</button>
            <button class="Clear">Clear</button>
        </div>
    </div>
    <div class="AuthorList--element preview">
        <span>+</span>
    </div>
</div>